<h1>All Restaurants</h1>

<%= link_to 'Add a Restaurant', new_restaurant_path %>

<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %> : <%= restaurant.cuisine %></p>
<% end %>